/* Variables */
:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-gray-light: #edeef0;
  --color-white: #ffffff;

  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: 400;

  --letter-spacing: 0.1em;
  --line-height: 1.64;
  --line-height-sm: 1.4;

  --container-primary: 1110px;
  --container-secondary: 540px;

  --gap: 20px;
  --gap-sm: 10px;
  --gap-lg: 30px;
  --gap-xl: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-sm);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: var(--line-height-sm);
}

a {
  color: var(--color-black);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: .0625rem;
  height: .0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  visibility: hidden;
}

.container {
  width: min(100% - var(--gap-xl), var(--container-primary));
  margin-inline: auto;
}

.container-sm {
  width: min(100% - var(--gap-xl), var(--container-secondary));
  margin-inline: auto;
}

.header {
  padding-top: 1.25rem;
  padding-bottom: 2.0625rem;
  background-color: var(--color-gray-light);
}

.navbar {
  margin-bottom: 0.875rem;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.navbar__item {
  font-size: 0.6875rem;
}

.navbar__link {
  display: block;
  letter-spacing: var(--letter-spacing);
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  font-size: 16px;
}

.navbar__link--active {
  color: var(--color-primary);
  font-weight: 500;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.hero__description {
  margin-bottom: 1.875rem;
  text-align: center;
  color: var(--color-secondary);
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 14.0625rem;
  min-height: 4.0625rem;
  text-transform: uppercase;
  padding: 0.5em;
  background-color: var(--color-primary);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  font-size: 0.875rem;
}

.section {
  padding: 1.875rem 0;
  text-align: center;
  background-color: var(--color-gray-light);
}

.section__title {
  margin-bottom: 1.25rem;
}

.section__description {
  color: var(--color-secondary);
}

.about {
  background-color: var(--color-white);
}

.experience {
  padding: 1.25rem 0 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.experience__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.25rem;
}

.experience__item {
  display: flex;
  gap: var(--gap);
}

.experience__item-picture {
  order: -1;
}

.experience__item-image {
  display: block;
}

.experience__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
}

.experience__item-number {
  font-size: 1.3125rem;
  font-weight: 500;
}

.video {
  background-color: var(--color-gray-light);
  padding-bottom: 1.875rem;
}

.video__iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: 0;
  min-height: 12.5rem;
}

.footer {
  padding: 1.25rem 0;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.footer__title {
  font-size: 1.3125rem;
  font-weight: 500;
  margin-bottom: .3125rem;
  text-align: center;
}

.footer__description {
  font-size: 0.8125rem;
  text-align: center;
}


/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .navbar__list {
    justify-content: center;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .navbar__item {
    font-size: 1rem;
  }

  .navbar__list {

    justify-content: center;
}
}

/* Desktop */
@media (min-width: 1024px) {
  .header {
    padding-top: 4.3125rem;
    padding-bottom: 8.75rem;
  }

  .navbar {
    margin-bottom: 8.8125rem;
  }

  .navbar__list {
    gap: 1.6875rem;
    margin-left: 0.75em;
  }

  .hero {
    align-items: flex-start;
    max-width: var(--container-secondary);
  }

  .hero__description {
    text-align: start;
    margin-bottom: 3.5625rem;
  }

  .section {
    padding: 6.25rem 0;
  }

  .section__title {
    margin-bottom: 2.25rem;
  }

  .experience {
    padding: 6.25rem 0;
  }

  .experience__container {
    justify-content: space-between;
    gap: var(--gap-xl);
  }

  .video {
    padding-bottom: 6.25rem;
  }

  .footer {
    padding: 3.125rem 0;
  }

  .footer__title,
  .footer__description {
    text-align: start;
  }
}
